Tanum/Connected Services/ProjektService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfProjektTest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfProjektTest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCaseData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CaseData" nillable="true" type="tns:CaseData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCaseData" nillable="true" type="tns:ArrayOfCaseData" />
  <xs:complexType name="CaseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="category" type="xs:int" />
      <xs:element minOccurs="0" name="contact_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contact_phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lng" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CaseData" nillable="true" type="tns:CaseData" />
</xs:schema>